.contentLayout {
	padding: 0 24px;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.noContent {
	margin: auto;
}

.navbar {
	margin: auto;
}

.card {
	max-width: 100%;
	width: 240px;
	margin: 10px;
	overflow: hidden;	
}